[2013-08-27 08:55] debloper opened #1 "Create a 3-column layout after image carousel"
Just like [mozilla.org](http://mozilla.org/), create a 3-column layout for different type of contents in the landing page.
- Column 1: Announcements/Latest Blogpost list
- Column 2: Subdomains/Applications' list (blog, wiki, bugzilla etc.)
- Column 3: Clone of the [mozilla.org](http://mozilla.org/)'s 3rd column.

[2013-09-11 07:28] #1 closed, assigned to kaustavdm

[2013-09-25 18:33] kaustavdm opened #11 "Responsive menu does not collapse back in mobile view"
Do Ctrl+Shift+M, click on the menu button, now try closing the menu. Doesn't work :-<

[2013-09-29 17:29] kinshuksunil opened #14 "Wiki returns a 403"
How to recreate:
1. open http://wiki.mozillaindia.org/ in a browser tab

Expected result:
Awesomesauce wiki expected

What I get:
A heartbreaking apache default 403 error message

[2013-09-30 16:12] #14 closed, assigned to nobody

[2013-09-30 19:15] anushbmx opened #17 "Mozilla India Wiki Permission Denied"
Mozilla India Wiki  shows 403 forbidden error.

URL : http://wiki.mozillaindia.org/

Please take a lookinto it ASAP

![403](https://f.cloud.github.com/assets/1151263/1240034/97ddf748-2a04-11e3-8e2a-1bb02c53119b.jpg)

[2013-10-01 07:49] #17 closed, assigned to nobody

[2013-10-12 07:35] niket10582 opened #21 "Google Page redirecting me to google.pk instead of google.co.in"
Mozilla google start page is redirecting all my searches through Google.pk instead of google.co.in.

I am not sure if the problem is from google side or Mozilla. so trying at both ends.

news.google.com will return with news of pakistan.

Update:: Not having the problem in chrome.

[2013-10-13 17:10] #21 closed, assigned to nobody

[2013-10-19 06:57] sudheesh001 opened #25 "Add Persona login to `bugz.mozillaindia.org`"
At the moment there is no persona login to bugz.mozillaindia.org , Adding it would be a nice feature.
#### Enhancement

[2013-10-19 19:23] #25 closed, assigned to nobody

[2013-10-22 10:13] abhishekvp opened #26 "Prevent Directory Listings"
Accessing the folders from the URL lists the files in it, currently. We could prevent that using .htaccess

[2013-10-24 16:25] KKDeep opened #28 "Footer part is not completely visible in responsive mode"
If we check the responsive mode(Ctl+Shift+M) then the footer part is not shown completelyt. Tested this on device too and its showing the same behaviour. May be its because of the scrollback widget.

![screenshot at 2013-10-24 21 50 18](https://f.cloud.github.com/assets/1812737/1400641/813d9d32-3cc8-11e3-9261-74e83435f572.png)

[2013-10-27 07:35] anistark opened #29 "Updated index.html header to Mozilla India"
I thought we should update the header part of page too. Converting everything to Mozilla India..
Just a small change. Don't know if it should be even an issue.

https://github.com/anistark/homepage/commit/3ce017c95642f2e4d13e9f456112c03adc9e16f1

[2013-11-07 03:45] #26 closed, assigned to nobody

[2013-11-15 11:12] vineelreddy opened #31 "LEADERBOARD"
Rename the tab on top right at homepage from 'LEADERBOARD' to 'DEVELOPERS'
The word sounds a bit misleading while there are other contribution areas like Localisation, Support, Engagement and so on.

[2013-11-18 14:43] #29 closed, assigned to nobody

[2014-01-01 08:15] #11 closed, assigned to kaustavdm

[2014-01-01 08:51] kkdeep opened #32 "Add Creative Commons license stuff in footer."
It will give more sense of _openness_ & _freedom_ if we put up CC license notice preferably in footer. :smile:

[2014-02-11 11:34] Shashank-Tyagi opened #33 "Problem in mail client with mozilla 28 beta1."
We are using Smart mail Professional 10.7 as our mail server. We are facing a strange problem. As we open a mail or try to compose a new mail, it results in a new popup window. Now this resulting pop up window shrinks to the top left corner with only header visible. if we try to drag the window it again shrinks to same position. In another words popup window cannot be maximized.
What we had conclu

[2014-03-16 20:12] kkdeep opened #35 "No 404 page."
It seems that there is no 404 page included in the source.Tried with random url's but instead of returning a dedicated 404 page it returns normal 404 error along with server info
"Apache/2.2.22 (Ubuntu) Server at mozillaindia.org Port 80" :smiley:

[2014-04-07 08:01] vivekkiran opened #36 "Upgrade jquery.spritely-0.6.1.js to jquery.spritely-0.6.8.js"
CHANGE LOG
## Version 0.6.8

* Fixed an incorrect intialization of $._spritely.instances that was causing the
  plugin to break.

## Version 0.6.7

* Removed the erroneous 'stop_after' key from the default options object.
* The synonymous 'play_frames' option has now been fixed, and can be used to play only a set number of frames of animation. Note that this option only applies to sprite animation

[2014-04-07 08:07] vivekkiran opened #37 "Upgrade BxSlider v4.0 to BxSlider v4.1.2"
Changelog

Version 4.1.2
-Added bower.json configuration file. Manage bxSlider as a dependency using bower.

Version 4.1.1
-Removed imagesLoaded library and added iframe preloading support
-Added responsive option - setting to false will prevent $(window).resize binding

Version 4.1
-Carousel mode (minSlides / maxSlides) was re-written to be more intuitive.
-SlideWidth now acts as it should (slide

[2014-08-11 06:39] vivekkiran opened #45 "Wiki For Mozilla India"
Shall we have a Wiki Page for Mozilla India using MediaWiki(http://www.mediawiki.org/wiki/MediaWiki or https://www.dokuwiki.org/dokuwiki) such as http://wiki.mozilla-nepal.org/index.php/Main_Page / http://wiki.mozilla-nepal.org/index.php/Main_Page#Events

[2014-08-13 07:05] #33 closed, assigned to nobody

[2014-08-15 21:30] vineelreddy opened #47 "Event & Speaker Request Form At Homepage"
Include a link to Mozilla India Event & Speaker Request form at homepage.
Links/ background blogpost: http://blog.mozillaindia.org/787
There can be a button linking to the request form + a short description like: "Want to host a Mozilla event at your college/region? (or) Invite a Mozilla speaker for your event? Please fill the request form"
(or)
"Invite Mozilla India to speak at your event or host

[2014-08-17 07:20] vivekkiran opened #48 "Deploy changes from Github to production"

[2014-08-22 18:20] swarnava opened #49 "Adding Firefox OS section on mozillaindia homepage"
Since Firefox OS release is near, we should add a section of Firefox OS.

[2014-09-07 10:28] anistark opened #50 "tabzilla less files has been removed"
tabzilla files has been removed in master branch.

[2014-09-28 14:47] KarthikSharma1998 opened #52 "DISSAPPOINTED BY FIREFOX OS. i suggest a few ways to improve the firefox os."
[code]

1) There should be an equalizer feature in the Music app.
2) There isn't an option to set the user's favorite song as the ring tone.
3) The inbuilt alert ringtones aren't that impressive.
4) The games DO NOT have audio.
5) I suggest you to keep a button in the status bar to switch auto rotation on and off.
6) Most important: There should be a brightness slider [adjuster] in the status bar.

[2014-10-03 12:29] #52 closed, assigned to nobody

[2015-05-13 11:40] vivekkiran commented on #50
tabzilla files need not be included, if we use universal tabzilla

[2015-05-13 11:41] #37 closed

[2015-05-13 11:41] #36 closed

[2015-06-27 18:26] dolftax opened #53 "Scrollback should be started in minimized mode"
It covers almost half the page.

![screenshot_2015-06-27_23-55-55](https://cloud.githubusercontent.com/assets/4883668/8393306/26256758-1d28-11e5-8044-560a0740b224.png)

[2015-06-27 19:19] #53 closed

[2015-06-28 08:20] kaustavdm opened #56 "Make gh-pages the default branch. Drop master."
Push stuff to gh-pages. That way, it becomes a staging area. We don't need the master branch. Drop it.

@MozillaIndia/owners Pushing this off to you.

[2015-07-18 21:11] sagarhani opened #58 "Missing favicon"
Check http://mozillaindia.org/join/ page. The favicon is not shown.
Even after adding favicon [here](https://github.com/MozillaIndia/homepage/blob/gh-pages/join/index.html).  Why it is not showing ?

[2015-07-18 21:14] sagarhani commented on #58
Oh! I understood the issue. I'll fix this. :+1:

[2015-09-10 18:42] umeshagarwal opened #60 "We need a download page containing Indian Languages Only"
When I click on Download Firefox for Desktop in you languages I should get only Indian Languages.
Some thing like this: https://www.mozilla.org/en-US/firefox/all/?q=india

But this doesnot contain all we have tag all indian locales inone page.

Can it be done ?

Regards
Umesh Agarwal

[2015-09-26 18:05] kaustavdm commented on #60
Is your requesting regarding mozilla.org or mozillaindia.org? Wouldn't it be better to have the mozilla.org page more well-equipped?

[2015-10-23 09:58] asdofindia opened #61 "Firefox for Android download points to outdated version"
The "Firefox for Android" download link on homepage links to ftp://ftp.mozilla.org/pub/mobile/releases/31.0/android/ which's v31.

It might be better to redirect to play store.

[2015-10-23 10:00] foxt7ot commented on #61
Agreed, Is there any specific reason to not to point directly to google play. @debloper @kaustavdm

[2015-10-23 10:17] pmjcreations commented on #61
I am supporting this. @debloper @kaustavdm can we link to [Google Play](https://play.google.com/store/apps/details?id=org.mozilla.firefox)?

[2015-10-23 10:24] sagarhani commented on #61
Can't expect everyone to be on google play store. :confused:
Updating the ftp link regularly would be the only solution I guess.

[2015-10-23 10:29] pmjcreations commented on #61
Hello @sagarhani updating a link manually, based on every release will never gonna work.
The CTA is to download Firefox for Android and Google Play is the place where we release them  for our users.

[2015-10-23 10:36] sagarhani commented on #61
Hey @pmjcreations,
Okay fine. :+1:
Let's link it to Google Play store.
My concern was for those who don't have Google Play Store.

[2015-10-23 10:37] foxt7ot commented on #61
@sagarhani Dunno about that much as I am no fan of android but AFAIK If a person is using an Android device, Then it's mandatory for that person to sign up for google services otherwise user will not be able to enjoy perks of using android, Am i right?

[2015-10-23 11:04] sagarhani commented on #61
@foxt7ot Some don't like google services, so they don't use any google apps.
However, even the https://www.mozilla.org/en-US/firefox/android/ site links to google play store.
We can also point to the same. :+1:

[2015-10-23 11:13] pmjcreations commented on #61
Interesting. @debloper I am backing my link suggestion to [Firefox for Android landing page](https://www.mozilla.org/en-US/firefox/android/) instead of Google Play with high priority.

[2015-10-23 11:25] pmjcreations commented on #61
@foxt7ot Please use https://www.mozilla.org/en-US/firefox/android/ when you send your pull request.

[2015-10-23 11:59] asdofindia commented on #61
Please avoid hard-coding the locale. mozilla.org automatically redirects to the appropriate locale when a user goes to locale-less links.
For example, https://www.mozilla.org/firefox/android/ will lead to https://www.mozilla.org/hi-IN/firefox/android/ if the user has hindi locale set in their browser. It'll fall back to en-US if the set locale isn't available.

Also, @sagarhani people who don't ha

[2015-10-24 05:08] shivamMg opened #65 "Uneven spacing inside carousel"
[At mozillaindia.org] The carousel has unnecessary space between the images and upper border of the carousel-box. If someone gives a go-ahead, I would like to submit a patch.

[2015-10-26 16:11] asdofindia commented on #65
Looks like there's indeed some space extra. I think it'll look good if the top and bottom have the same gap.

[2015-10-26 16:23] shivamMg commented on #65
Alright, I will submit a PR with the fix.

[2015-10-26 19:41] shivamMg commented on #65
@asdofindia PR submitted. You may review it. Seems like the homepage had two ids with same value (`main-content`).

[2015-10-27 20:21] #50 closed

[2015-10-27 20:26] #61 closed

[2015-10-27 20:48] #58 closed

[2015-10-27 20:51] asdofindia commented on #56
We should make gh-pages the default branch too.

[2015-10-27 20:52] asdofindia commented on #48
Closing this as the staging strategy has changed.

[2015-10-27 20:52] #48 closed

[2015-10-27 20:54] #45 closed

[2015-10-27 20:55] #28 closed

[2015-10-27 21:01] sayak-sarkar commented on #56
Default branch changed to gh-pages!

[2015-10-27 21:01] #56 closed

[2015-10-28 04:29] asdofindia opened #67 "Fetch posts directly from Mozilla India blog"
Currently the blog feed is first downloaded to the server and then served to the client. This is done to avoid CORS restriction. Explore the possibilty of circumventing this restriction.

Tracking: [Upstream bug to enable CORS](http://bugz.mozillaindia.org/show_bug.cgi?id=33).

[2015-10-28 04:37] asdofindia opened #68 "Add contribution guidelines"
We can have a bit more detailed instruction for contributing.

- [x] Basic instructions
- [x] Setting up development environment (less, some server)
- [x] git workflow (work on new branch, PR against gh-pages)
- [x] commit quality (single fix per commit. descriptive commit messages. follow style of surrounding file)

[2015-10-28 10:07] pmjcreations commented on #61
When we can see the changes reflected on http://mozillaindia.org/?

[2015-10-28 15:48] #65 closed

[2015-10-28 15:51] asdofindia opened #70 "Make the firefox logo in download area responsive"
The firefox img.logo in #download is not responsive and overlaps download buttons on small widths.

[2015-10-29 08:51] shivamMg commented on #70
@asdofindia Submitted a patch.

[2015-10-29 10:47] asdofindia opened #72 "Automate deployment"
Currently, it looks like, the server needs to be manually updated with the latest code every time a commit is made. It'd be a wise idea to automate this step (using a webhook maybe)

If there's a concern about breaking the site unintentionally, we could use master branch to stay in automatic sync with server and gh-pages shall act like a dev branch. Such that automatic deployment happens only when

[2015-10-29 10:48] asdofindia commented on #61
@pmjcreations I just filed #72 to automate deployments. Till that's fixed, the changes need to be manually synced to server and that'll take some time. A few days, maybe.

[2015-11-02 06:53] GirishRawat commented on #49
Should we link it to the mozilla.org's firefox OS webpage or create a new one? https://www.mozilla.org/en-US/firefox/os/2.0/

[2015-11-02 08:51] dolftax commented on #49
@GirishRawat +1 / Send us a PR!

[2015-11-02 10:18] swarnava commented on #49
I think we should add https://www.mozilla.org/en-US/firefox/os/ instead of which is currently redirecting to https://www.mozilla.org/en-US/firefox/os/1.3t/ which is designed for Tarako(Indian) devices!

[2015-11-02 12:34] #49 closed

[2015-11-02 13:24] asdofindia commented on #49
Hey, a link works for now (although I wonder if the top navigation bar is the right place for it).

But I was thinking we could have an entire call to action kind of thing for Firefox OS. Since Mozilla's goals are to push Firefox OS really hard. Maybe that needs a site redesign that's why I've added the redesign milestone to this.

@dolftax, can you reopen this or should we create another tracking

[2015-11-02 14:27] dolftax commented on #49
@asdofindia Let this fit in the current version. Open up a branch in this repo and start working on the re-design.

[2015-11-10 06:14] asdofindia opened #75 "Have Google Doodle like special items on special days"
**Motivation**
People like to wish `Happy $SPECIAL_DAY` very frequently. And special days keep coming. Our website is mostly static. If we can put some creativity in and make it show dynamic wishes on special days:
1. It's a reason to share the homepage on social media
2. It's a reason for people to repeat visit

**One simple way**
A very simple way to implement would be, keep a javascript object

[2015-11-10 06:17] asdofindia commented on #70
Closed via #71

[2015-11-10 06:17] #70 closed

[2015-11-16 04:37] #68 closed

[2015-11-18 04:42] asdofindia commented on #60
If we're building a separate section with links to Indian language downloads, [here's how to do it](https://ftangftang.wordpress.com/2015/11/17/the-latest-on-firefoxreleaseslatest/)

[2016-02-03 08:42] CuriousLearner opened #77 "There is no hyperlink to application form on Be MahaDev page"
Refer here: devs.mozillaindia.org/start/

So, in the article itself, last paragraph has this:

But there is no hyper-link to be found for any application form.

[2016-02-18 04:36] yash14123 commented on #32
On it.

[2016-02-18 04:37] yash14123 commented on #35
I will take this up

[2016-02-18 04:38] yash14123 commented on #75
I will take this one today!

[2016-02-18 18:10] sudheesh001 commented on #35
@yash14123 Sure, please go ahead, we're looking towards a patch.

[2016-02-18 20:14] theaverageguy opened #78 "Grammatical error in Be MahaDev page."
What is as of now:
" If all goes well, in some time, we'll have two people who know how to fix things and at least one with time to. "

What it should be:
"If all goes well, in some time, we'll have two people who know how to fix things and at least one with time too. "

[2016-02-19 09:19] pmjcreations commented on #61
@asdofindia Any updates on this? It's still not fixed

[2016-04-03 16:36] CuriousLearner commented on #77
Hi @asdofindia !

Can you have a look at this please :)

[2016-07-23 12:14] InderdeepBajwa commented on #77
I'm also experiencing the same issue. Please let me know if you've already fond an issue to it.

[2016-07-23 12:15] InderdeepBajwa opened #79 "Not able to signup for MahaDev"
While visiting the URL http://devs.mozillaindia.org/start/, I didn't found any link to the application form even after inspecting the elements, I didn't see any important link mentioned. Please let me know if it's an error or require brain to sign up.

[2016-07-24 01:29] asdofindia commented on #79
That's a trick.

[2016-07-24 01:47] asdofindia commented on #79
Actually, no such trick. This is a duplicate of #77. And neither belongs to this repository.

[2016-07-24 01:47] #79 closed

[2016-07-24 01:48] asdofindia commented on #77
Already known while merging mozillaindia/mozillaindia.github.io#5

Could you open this issue in that repository, though?

[2016-07-24 01:48] #77 closed

[2016-07-24 01:51] asdofindia commented on #78
This issue belongs to [a different repo](https://github.com/mozillaindia/mozillaindia.github.io). Yet, I think the sentence is like "...at least one with time to (fix things)"

[2016-07-24 01:51] #78 closed

[2016-09-21 13:18] InderdeepBajwa opened #80 "No submitable form at Devs.MozillaIndia.org"
I would like to know if I could integrate Google forms in it, and would hide it using HTML to make it accessible only to people who actually know stuff about computers. Though jquery would not be easy but HTML will surely do a basic thing. One would be able to get instructions using Inspect Elements or by viewing source code of the webpage.
Would that be fine? And I am willing to refine applicant,

[2016-09-22 14:52] asdofindia commented on #80
Duplicate of #77 and #79 and originally MozillaIndia/mozillaindia.github.io#6

[2016-09-22 14:52] #80 closed

[2017-02-14 12:27] f0rum opened #81 "Authentication - Account Lock Out"
#Bug #45
We need to have a rating limit on domain "http://wiki.mozillaindia.org/"
![poc](https://cloud.githubusercontent.com/assets/11724158/22928898/cbe479c6-f2de-11e6-8482-4092317fab84.PNG)

[2017-02-14 12:51] asdofindia commented on #81
Hi Dhiraj,
I see a budding penetration tester there. Keep it up.

A couple of things,

1. Security issues should almost never be revealed publicly. Use secure bug entry forms or contact a responsible person privately, to avoid casual. Once the issue has been resolved secretly or a reasonable amount of time has passed, you can of course announce the process and earn browny points.

2. wiki.mozillai

[2017-02-14 13:01] f0rum commented on #81
Hi @asdofindia

My bad, i to was trying to find some bug entry forms but, i didn't found where i saw "file a bug" option in our parent domain which was redirecting here.
So issued here, sorry for the inconvenience .

Thanks

[2017-02-17 01:49] asdofindia commented on #81
Fixed by [redirecting all visitors to wiki.mozilla.org/India](http://bugz.mozillaindia.org/show_bug.cgi?id=51#c1)

[2017-02-17 01:49] #81 closed

[2017-02-17 02:07] asdofindia opened #82 "Update homepage to connect new/potential contributors to the existing teams"
Re: mozillaindia/meta#7

Work shall begin on a separate branch to update the homepage with easy access to the community for newcomers and simplified community structure.

[Soft] Blocker: Infrastructure upgrade https://bugzilla.mozilla.org/show_bug.cgi?id=1333834

[2017-03-27 02:54] asdofindia opened #83 "Re-add master branch. Use github pages for deployment."
We'll be switching to a new infrastructure where the homepage will be directly served from github. To allow this, we'll now switch (back) to master branch for development and gh-pages for deployment.

[2017-07-09 19:26] Dipanks opened #85 "No link in Apply to be MahaDev"
http://devs.mozillaindia.org/start/

Tried to apply to 'Apply to be a MahaDev' program for Indian Mozillians. But there was no actual link for the application form.

The page however states
"If you haven't done so already, fill this application form and one of us will get in touch with you."

And I wanted to fill up this form because I wanted to be guided by someone from Mozilla to help me start c

[2017-07-10 06:42] asdofindia commented on #85
Hi Dipanks, thanks for making this issue.

The bug is already open at MozillaIndia/mozillaindia.github.io#6

If you are comfortable and willing to learn new technologies and spend hours fixing a problem by yourself, you can [contact me](https://asd.learnlearn.in/about/#contact) and I can help you start contributing.

[2017-07-10 06:42] #85 closed

[2017-09-04 20:21] nileshgulia1 opened #86 "404 not found"
On opening mozillaindia.org it says 404 not found always
![screenshot from 2017-09-05 01-51-28](https://user-images.githubusercontent.com/22280901/30037854-afc14c9a-91dc-11e7-8367-68f3fb906e1a.png)

[2017-09-05 16:22] asdofindia commented on #86
Thanks for reporting. This should get fixed in a couple of hours, probably.

[2017-09-13 19:02] asdofindia commented on #86
It took a bit longer, but [fixed](https://discourse.mozilla.org/t/migration-of-mozilla-india-blog-and-website-to-participation-infrastructure/19152)!

[2017-09-13 19:02] #86 closed

[2017-09-13 19:32] asdofindia commented on #83
This has become topsy-turvy now with the movement of the repository to userpage (from github.com/mozillaindia/homepage to github.com/mozillaindia/mozillaindia.github.io), now only the "master" branch can be used for deployment to github pages. Might make sense renaming gh-pages to "source" and using it as source.

[2017-09-13 19:37] asdofindia commented on #67
Since upstream bug is now 404, I'm copying the content that was there:

#### Allow a mechanism to fetch blog posts from Mozilla India blog by XHR ####

The Mozilla India homepage shows latest feeds from Mozilla India blog. To do this the server has to fetch the xml from the blog and then serve it to client. This is because the blog has CORS allowed for ''none''. This makes it difficult to show pos

[2017-09-13 19:59] nileshgulia1 commented on #86
Great!1!!!

[2017-10-29 12:51] palash25 opened #88 "No MahaDev form found"
I was interested in joining this community but when I opened the MahaDev page there was no link to the signup form.

[2017-10-29 12:54] asdofindia commented on #88
Please read MozillaIndia/devs#6 as this is a duplicate of that.

[2017-10-29 12:54] #88 closed

[2017-11-17 06:28] greed2411 opened #89 "[Updating] Links and necessary points"
Your twitter handle @MozillaIN goes to [old page](https://mozillaindia.org/) which isn't responsive and looks like this
![screenshot-2017-11-17 mozilla india](https://user-images.githubusercontent.com/21098186/32932176-8426919a-cb8d-11e7-8cce-879338b3e91a.png)
instead of the [new one](http://mozillaindia.github.io/)

yes did use the firefox quantum dev edition (58.b4) . Cool work with the screensh

[2017-11-17 07:00] greed2411 commented on #89
Pull request has been made, [here](https://github.com/MozillaIndia/mozillaindia.github.io/pull/90)

[2018-01-19 19:06] nileshgulia1 commented on #32
@theaverageguy Are you still working on it?I want to get this.

[2018-01-21 14:28] nileshgulia1 commented on #31
Taking this up. :)

[2018-01-21 14:39] nileshgulia1 commented on #72
Hello @asdofindia , What's the update regarding this issue?

[2018-01-21 15:32] asdofindia commented on #72
I think this has been fixed with [the migration to participation infrastructure] (https://discourse.mozilla.org/t/migration-of-mozilla-india-blog-and-website-to-participation-infrastructure/19152?u=asdofindia) as the site is now directly served from GitHub

[2018-01-21 15:32] #72 closed

[2019-04-15 10:24] #31 closed

[2019-04-15 10:27] #32 closed

[2019-04-15 15:19] #82 closed

[2019-04-15 15:21] asdofindia commented on #83
This is no longer relevant as we use the master branch and the mozillaindia.github.io source is deployed via community infrastructure at mozillaindia.org

[2019-04-15 15:21] #83 closed

[2019-04-15 15:22] asdofindia commented on #89
This is no longer relevant I think. Thanks for the issue. Feel free to re-open if it is still relevant.

[2019-04-15 15:22] #89 closed

[2019-04-15 15:41] asdofindia commented on #67
As we are not displaying blog content on main page, this is no longer relevant

[2019-04-15 15:41] #67 closed

[2019-04-15 17:29] obitodarky opened #96 "Blog activities redesign"
I don't think the front page of the Blog needs to be that long. We could use small panels maybe. Instead of showing the activities vertically, we can do it horizontally.
And of course, it would be a small preview of the activity

Like so.
![Screenshot 2019-04-15 at 10 51 46 PM](https://user-images.githubusercontent.com/21317964/56152483-6a6f6680-5fd1-11e9-9d8b-d8d50b3036b9.png)

[2019-04-15 17:33] asdofindia commented on #96
Can you do this if granted access? If yes, please share your email ID to be added

[2019-04-15 18:09] asdofindia opened #97 "Include link to activate mozilla community"
https://activate.mozilla.community/

Suggested by [Lucy](https://discourse.mozilla.org/t/mozilla-india-website-needs-you/38300/2?u=asdofindia)

[2019-04-15 18:10] asdofindia opened #98 "Include link to contribute wiki"
https://wiki.mozilla.org/Contribute

Suggested by [Lucy](https://discourse.mozilla.org/t/mozilla-india-website-needs-you/38300/2?u=asdofindia)

[2019-04-15 18:11] asdofindia opened #99 "Port groups from groups pilot"
https://events.mozilla.org/pilot

Suggested by [Lucy](https://discourse.mozilla.org/t/mozilla-india-website-needs-you/38300/2?u=asdofindia)

[2019-04-15 19:04] pransh15 opened #100 "Campus Clubs' Communication Channels"
Please add the Campus Clubs' Communication Channels of the following, in the comments below:
- Website [This is where the blogs go!]
- GitHub
- Telegram
- Twitter
- Instagram

This information will be used to post it on the Website, for better visibility.

[2019-04-15 19:04] pransh15 opened #101 "Regional Community Communication Channels"
Please add the Regional Communication Channels of the following, in the comments below:
- Website [This is where the blogs go!]
- GitHub
- Telegram
- Twitter
- Instagram

This information will be used to post it on the Website, for better visibility.

[2019-04-15 19:11] kindavishal commented on #100
https://www.meetup.com/MozillaPunjab/

https://github.com/MozillaPunjab

https://t.me/mozillapunjab

https://twitter.com/MozPunjab

N/A

[2019-04-15 19:22] kindavishal commented on #101
https://www.meetup.com/MozillaPunjab/

https://github.com/MozillaPunjab

https://t.me/mozillapunjab

https://twitter.com/MozPunjab

N/A

[2019-04-15 20:23] obitodarky commented on #98
please check out https://github.com/MozillaIndia/mozillaindia.github.io/pull/105

[2019-04-15 20:31] obitodarky opened #106 "footer spacing"
By adding more and more Campus Clubs/Regional Groups/Functional Groups, we get improper spacing between the footer

![Screenshot 2019-04-16 at 2 00 47 AM](https://user-images.githubusercontent.com/21317964/56163256-7cf69980-5feb-11e9-95a5-666af354d520.png)

[2019-04-16 02:28] asdofindia commented on #98
Fixed in #105

[2019-04-16 02:28] #98 closed

[2019-04-16 03:22] #106 closed

[2019-04-16 06:44] thetronjohnson commented on #97
@asdofindia I think this issue can be closed

[2019-04-16 06:58] asdofindia commented on #97
It has been added to the navbar, but also needs to be added to the text near the contribute wiki. The navbar isn't visible without additional interaction on mobile and therefore isn't the ideal place for activate link. Also people who are clueless about how to contribute should be given a context in the form of sentence. For example, text like "find impactful and easy ways to contribute to mozilla

[2019-04-16 07:05] obitodarky commented on #96
@asdofindia I can definitely try. I'll clone the site on my localhost and try making changes there, if successful, we can proceed further.

[2019-04-16 07:29] asdofindia commented on #96
Perfect. That is the approach I took when I [made my first bug fix on mozilla india blog](https://blog.learnlearn.in/2015/09/did-i-screw-up-mozilla-india-blogs.html)

But for this particular problem you pointed out, I think the fix should happen at a theme level. In fact, I just logged in to the themes section and saw these themes are available:
![image](https://user-images.githubusercontent.com/9

[2019-04-16 07:39] asdofindia opened #111 "Sort groups and clubs alphabetically"
Once we have non-trivial amounts of groups listed, it becomes increasingly necessary to have some kind of predictable pattern on where a new member should go and how the list should be sorted.
Perhaps alphabetical listing is the best way forward as people are used to that.

We have to reorder the current entries. (Also could fix some punctuations and spaces when doing this)

[2019-04-16 08:15] obitodarky commented on #96
I agree, we should definitely switch to a modern theme. We could also add new plugins for better visuals.
Can you add my email address? I can DM on Telegram.

[2019-04-16 08:25] asdofindia commented on #96
Yes

On Tue, Apr 16, 2019, 13:45 Harsh Mehta <notifications@github.com> wrote:

[2019-04-17 02:40] obitodarky opened #113 "Add Support in Readme.md"
Should we add support information in readme.md so that people can propose and discuss new ideas there instead of randomly sending PRs on the repo?

![Screenshot 2019-04-17 at 8 06 58 AM](https://user-images.githubusercontent.com/21317964/56256911-36d33000-60e8-11e9-83db-84bcb2206c2d.png)

[2019-04-17 02:48] asdofindia commented on #113
CONTRIBUTING.md is supposed to do exactly that and there is a mention of it in README.md

Ideally discussions about the repository should be in the repository itself and not on telegram

[2019-04-17 02:52] obitodarky commented on #113
Okay, great. I think you can close this issue now. I was thinking if they wanted to ask something about Mozilla India or something related there should be a link so that they can contact us.

[2019-04-17 03:08] asdofindia commented on #113
The entire mozillaindia.org website is full of those links. Repeating them would be counter-productive.

[2019-04-17 06:37] #113 closed

[2019-04-21 05:25] obitodarky commented on #111
Can we close this or is there anything left?

[2019-04-21 05:39] obitodarky opened #116 "Community profile improvement"
Should we add license and code of conduct to the repo?
I think it's a good idea. We should at least add the license since we are already using MPL and CC licenses.

![Screenshot 2019-04-21 at 11 07 34 AM](https://user-images.githubusercontent.com/21317964/56465889-c26cf980-6425-11e9-9b1a-aece68c443f9.png)

[2019-04-21 10:40] asdofindia commented on #111
This was fixed, but then we regressed in the last merge.

[2019-04-21 10:41] asdofindia commented on #116
Yes. Good idea.
Code of conduct can point to Mozilla's community participation guidelines.

[2019-04-21 11:37] Chandan-Baba commented on #35
Hello team,
I have added a pull request for this, please take a look.

[2019-04-21 11:42] Chandan-Baba opened #118 "Add Open design repo link to website homepage"
How about adding a shortlink for open design repo on the home page?

[2019-04-21 11:45] asdofindia commented on #118
Could add this to the functional groups section, I believe

[2019-04-23 07:05] #35 closed

[2019-04-25 07:02] obitodarky commented on #118
Yes, we can. It would be a good way to boost the open design repo

[2019-04-28 05:23] mashsaxena opened #119 "Basic Information About Campus Clubs"
Kindly add the basic information about campus clubs:
* About
* How it works?
* Who can be a part of it?
* Help
* Queries

This information needs to be added to the Website.

[2019-05-11 09:33] cseas commented on #100
Website: http://glugmvit.com/
Blog: http://blog.glugmvit.com/
GitHub: https://github.com/glugmvit/
Gitter: https://gitter.im/glugmvit/community
LinkedIn: https://www.linkedin.com/company/glugmvit/
Email: glugmvit@gmail.com
Facebook: https://www.facebook.com/groups/193504514397500/

No Twitter
No Instagram

Our Mozilla events as of May 2019:
- http://blog.glugmvit.com/mozilla-sprint/
- https://blog

[2019-05-17 08:01] obitodarky commented on #119
I think this issue can be closed now. @asdofindia

[2019-05-17 10:47] #119 closed

[2019-05-17 10:48] #118 closed

[2019-05-21 06:28] obitodarky commented on #96
To whoever did the redesign, good work!
I'm closing this issue now.

[2019-05-21 06:28] #96 closed

[2019-05-21 06:30] obitodarky commented on #75
We could file a request on [OpenDesign](https://github.com/mozilla/OpenDesign) for this

[2019-05-26 08:23] asdofindia commented on #96
I had changed the theme to modern. Forgot to document.

[2019-06-06 05:29] obitodarky commented on #97
I think this can be closed now.

[2019-06-06 05:30] #97 closed

[2019-06-07 12:28] harshil1712 opened #132 "Accessibility Improvement"
I ran a lighthouse test to check the accessibility of the website and found the score as below.
![Screenshot from 2019-06-07 17-48-23](https://user-images.githubusercontent.com/18901032/59103469-8c8bc200-894c-11e9-887d-ebab5a5a9d4d.png)
On running the test a lot of suggestions were given which can help us to improve the score and make the website more accessible. Below are the lists of the changes

[2019-06-07 12:42] obitodarky commented on #132
Hey, thanks for bringing this up. Can you tell us how'd you check the accessibility and what tool you used? I just ran it on [web.dev](web.dev) and it gave and accessibility score of 87.

- I also believe the contrast is a bit low. However I haven't had any problem reading it on a monitor or on a mobile.
As for the issue. Just drop a PR and feel free to contribute!

[2019-06-07 12:52] harshil1712 commented on #132
@obitodarky I ran the [lighthouse](https://developers.google.com/web/tools/lighthouse/) test on the chrome dev tools.

The goal here is to make it accessible for all. Sure both you and me can read it easily, without difficulty, but it becomes difficult for the people with weak eye sight.
I will soon do a PR with the changes!

[2019-06-07 13:10] obitodarky commented on #132
If you're on it. I also ran it on Mozilla's Dev Tool
![Screenshot 2019-06-07 at 6 35 48 PM](https://user-images.githubusercontent.com/21317964/59106277-a1b81f00-8953-11e9-83a0-197cbf4203b1.png)

Seems like the links in the footer **might** be having contrast issues. If you have any suggestions on those. You can go ahead

[2019-06-07 13:50] asdofindia commented on #132
Accessibility is a core value of Mozilla. Thanks for the work. I'll be happy to be of help in merging fixes promptly and also in helping choose frameworks/tools to improve accessibility if needed.

The "lang" bit reminds me that we also need to have translations into various indian languages, but perhaps that can be tracked in a different issue.

[2019-06-07 14:09] harshil1712 commented on #132
@asdofindia @obitodarky I made some changes locally and got the following result
![Screenshot from 2019-06-07 19-25-23](https://user-images.githubusercontent.com/18901032/59110011-c912ea00-895b-11e9-9489-cb6848f8776e.png)

Still there are issues with the color contrast. I am not sure how to tackle those.
I am sending a PR with the changes I've made.

[2019-06-07 14:35] obitodarky commented on #132
Good work and thanks for the changes

I think the issue is in the color of the `notification, is-success` attributes. I tested it out I changed the background color to `#2382d1` and the font to bold(changing attribute to `title` from `subtitle` also seems to work). I think I got it cleared. Still, can you double check if it's ok in your test @harshil1712?

[2019-06-07 14:46] harshil1712 commented on #132
I tested it by changing the class `is-success` to `is-link` and it solved the issue, there was no need to add the `title` class. But by changing the class the background color changes, and this was what I was unsure about.
Earlier
![Screenshot from 2019-06-07 20-14-59](https://user-images.githubusercontent.com/18901032/59112613-fb731600-8960-11e9-9bda-40b458144ca6.png)
After changing the class:
![

[2019-06-07 15:49] asdofindia commented on #132
The colour chosen is more or less random. So, another random colour doesn't make a difference.

Maybe there are designers here who may have a comment on colour tones.

[2019-06-07 15:54] obitodarky commented on #132
I think this can be added since it solves the issue. Changes in color can later be added if someone has a better idea.

[2019-06-07 17:57] harshil1712 commented on #132
Okay so I will push those changes too. But we still need to find a solution for color contrast in the footer.

[2019-06-08 04:56] obitodarky commented on #132
It looks fine to me.

[2019-06-11 13:24] harshil1712 opened #136 "Horizontally Arrange Groups"
The website currently has vertically aligned the groups. Since these groups vary in number, some blocks are longer than the other. This makes the site unsymmetrical, and it doesn't look good. A solution to this to have them arranged horizontally. We can even use a carousel to implement this.

[2019-06-12 09:37] obitodarky commented on #136
I agree. A carousel would look nice. However, I would suggest that it be implemented in pure CSS since we are keeping the repo simple for new contributors(correct me if I'm wrong)

[2019-06-12 13:50] asdofindia commented on #136
Absolutely agree that it looks ugly.
I would prefer a solution that leaves all the items visible on the screen at all the time. Reasons are:
1. Visibility for everyone
2. Ctrl+F works
3. Many other thoughts come to mind

Perhaps, we can have all the regional groups come first (arranged horizontally with wrap after 3 columns); then functional groups in the same way; and then campus clubs in the sam

[2019-06-13 14:57] Amorpheuz commented on #136
![image](https://user-images.githubusercontent.com/22113778/59443453-a2502a00-8e19-11e9-9621-51d9168f5044.png)
Will something like this work? done using flexbox....

[2019-06-13 15:04] asdofindia commented on #136
That looks great @Amorpheuz, Bulma framework has good support of flex box and there probably is a way to achieve this without writing any custom css. Please take a look at https://bulma.io/documentation/layout/tiles/

[2019-06-13 17:15] Amorpheuz commented on #136
![image](https://user-images.githubusercontent.com/22113778/59452878-5195fc80-8e2c-11e9-8655-579b1ad2b56e.png)

Here's an implementation using Tiles utilities, the only drawback I see to this is that there is no wrapping functionality inbuilt into these, so one will have to manually declare every row(tile is-ancestor) after X (in my case 3) elements.

[2019-06-14 14:06] Amorpheuz opened #138 "Horizontal Scroll on Site"
While I was working on arranging the groups on the site, I found that the website gets a bit of Horizontal scroll on resolutions with width less than that of 1440p all the way to mobile. From looking around a bit in chrome developer tools, I found it's from how the tile system is used to arrange the boxes.
![image](https://user-images.githubusercontent.com/22113778/59514734-16063b80-8edb-11e9-8292

[2019-06-14 14:22] asdofindia commented on #138
Kindly go ahead keeping #136 also in mind

[2019-06-15 07:19] #132 closed

[2019-06-18 03:01] #136 closed

[2019-06-18 03:17] #138 closed

[2019-06-20 12:31] #116 closed

[2019-06-26 17:55] kmehant opened #141 "[Feature] Dockerize Mozilla India website"
## Feature/Enhancement
 We need to dockerize Mozilla website. Helps in deploying it to the cloud or even an easy process for developers to serve the static site instantly using docker-compose.

**Would you like to work on the issue?**
Yes for sure!

[2019-06-26 17:56] kmehant commented on #141
@kaustavdm @obitodarky I want to work on it 😃

[2019-06-27 07:01] #141 closed

[2019-07-03 11:35] obitodarky opened #147 "Spacing issue in groups"
## Bug
Alignment/Spacing isn't fixed in horizontal containers.

**Actual Behaviour**
Spaces in some group links in containers aren't aligned properly. Adding a line doesn't seem to fix the problem. The containers behave differently for different resolutions. See #144

**Expected Behaviour**

All links should be properly aligned
![Screenshot 2019-07-01 at 7 38 37 PM](https://user-images.githubuserc

[2019-07-03 12:51] asdofindia opened #148 "Decrease code repetition (request for enhancement)"
Currently we have reached a stage where we have enough engagement and new contributors are adding content/code.

The lists maintained are now beginning to become difficult to maintain (for example, managing the width of the tile). See 1dae173470190edf8263ecef8350e50d2928baa3 for example.

It may be the right time to consider bringing in a framework/generator.

The site is [served by Mozilla's Part

[2019-07-03 13:09] harshil1712 commented on #148
This is great! Gatsby is also an option. It's based on react, uses GraphQL, takes care of accessibility and gives better performance.

[2019-07-03 13:21] asdofindia commented on #148
If the part where addition of content happens can be simple, we could very well go with gastby.

I guess with the popularity I'm seeing of it, it's worth the pain of an extra deploy step.

[2019-07-03 13:22] harshil1712 commented on #147
How does this look?

![Screenshot from 2019-07-03 18-51-03](https://user-images.githubusercontent.com/18901032/60594963-b6a59800-9dc3-11e9-9e1d-84226e191207.png)

[2019-07-03 13:27] harshil1712 commented on #148
Yes, with Gatsby we can use any source for the content. We can use YAML or JSON or md or if in future we want to use CMS, we can even do that.

[2019-07-03 13:32] obitodarky commented on #148
If it's Gatsby, I can guarantee my support.

[2019-07-03 13:34] obitodarky commented on #147
I'm not so sure about this. Maybe we can fix this in the new framework instead (If we are quickly going ahead with it)

[2019-07-03 13:37] harshil1712 commented on #147
I have committed my changes. Let me know if I should do the PR

[2019-07-03 15:00] asdofindia commented on #147
It kind of works. But also the css selector may have to be slightly more specific to avoid collision with other `.subtitle`s.

I think, like Harsh says, this may automatically be solved in the process of switching framework.

[2019-07-03 15:03] asdofindia commented on #148
Well, you can go ahead @harshil1712 and/or @obitodarky. I hope the content that exists already isn't too much to port over. (If it is, I can script it for you).

[2019-07-03 15:16] asdofindia commented on #148
Since the repo is a user repo, github pages works only from the master branch. So, when we implement this, we will have to move the code base to a different branch. I'll be naming this `source`. And then we will replace the master branch with the generated static site. We may use the [gh-pages](https://www.npmjs.com/package/gh-pages) library for that.

Just documenting the plan. The above need not

[2019-07-03 22:56] harshil1712 commented on #148
I have built the basic site on Gatsby. You can check the [demo](https://practical-edison-868c09.netlify.com/). Here is the link to the repo [Mozilla-India-Gatsby](https://github.com/harshil1712/Mozilla-India-Gatsby). There's still work need to be done around styling and making the website responsive.

[2019-07-04 14:46] asdofindia commented on #148
Looking good already. Will have to rebase the code on the present master to preserve the history

[2019-07-04 14:54] obitodarky commented on #148
@harshil1712 that's pretty much spot on. If you can make the changes that Akshay has mentioned, we can move on.

[2019-07-04 16:46] harshil1712 commented on #148
@asdofindia I am not sure how do I do that. Can you help me with that?
Also we will have to have a gh-pages branch for deployment, since it will contain all the build files. If we do it on the master branch it will overwrite all the other files.
Or we can host it on Netlify, if there's no issue. Netlify provides various features, like it will generate a preview for every PR, SSL certificate, and s

[2019-07-04 18:29] obitodarky commented on #148
@harshil1712 thanks for reminding that the site's SSL certificate will be expiring soon.

![Screenshot 2019-07-04 at 11 54 54 PM](https://user-images.githubusercontent.com/21317964/60683782-47a96b80-9eb7-11e9-9f47-c3685350e386.png)

Yes I think it's better to make a different branch and let others test it out. Once it's good to go, we can merge with master and avoid overriding files.

[2019-07-05 03:57] asdofindia commented on #148
Please read how the site is deployed at https://discourse.mozilla.org/t/migration-of-mozilla-india-blog-and-website-to-participation-infrastructure/19152 and also my comment above on user pages.

[2019-07-06 04:55] harshil1712 commented on #148
@asdofindia as per our conversation, we will stick with gh-pages for hosting. We can create a branch called `source` that will contain the source code, as you suggested. We can have a different branch called `old-website` or something sensible, that will have the source code for the current site. While the `master` branch will contain the build files.

[2019-07-06 05:00] asdofindia commented on #148
We don't have to maintain the current code in an unused branch. We can tag the last commit so it is easy to refer back to.

If you're finding it difficult to rebase the changes on master, just continue what you're doing, and I'll merge it into master.

Leave the deployment tasks to me.

[2019-07-06 05:02] soulspark666 commented on #147
I think the Alignment/Spacing problem is because of the unresponsiveness of the site. As you can see in the images below
![1](https://user-images.githubusercontent.com/37495396/60751769-2c1f8d00-9fab-11e9-8126-5869fd2d8ac9.png)
![2](https://user-images.githubusercontent.com/37495396/60751771-2cb82380-9fab-11e9-8918-79f45e2fcc48.png)
![3](https://user-images.githubusercontent.com/37495396/60751772-

[2019-07-06 06:13] harshil1712 commented on #148
In my forked repo I have pushed the code on `gatsby-source` branch. Let me know for which branch I should I create a PR

[2019-07-06 10:01] asdofindia commented on #148
That branch would be master

[2019-07-09 11:22] harshil1712 opened #151 "Update the README.md"
## Enhancement
The README.md file needs to be updated for the `gatsby` branch.

[2019-07-14 16:00] harshil1712 opened #152 "Add CONTRIBUTE.md and Update License in gatsby branch"
## Bug/Feature/Enhancement
There is currently no contributing doc for the Gatsby website. Also the License has to be changed.

**Would you like to work on the issue?**
If someone wants to take it feel free, or I'll be happy to take this.

[2019-07-14 16:23] harshil1712 opened #153 "Make the header responsive"
## Bug/Feature/Enhancement
Currently the header in the Gatsby site isn't responsive. We can reuse the code already being used in the website.

**Actual Behaviour**
The header isn't responsive

**Expected Behaviour**
The header should be responsive. The hamburger icon should be displayed, and when user clicks on it, the menu should open, just like in the current website.

**Would you like to work o

[2019-08-02 19:17] #153 closed

[2019-08-02 20:09] harshil1712 commented on #151
@obitodarky are you working on this?

[2019-08-03 02:23] obitodarky commented on #151
Yes. I'll start working on this ASAP.

[2019-08-15 16:29] arps18 commented on #151
I would like to work on it. Can u provide me with the requirements!

[2019-08-15 16:43] harshil1712 commented on #151
@arps18 there's already a PR by @obitodarky.

[2019-08-16 05:07] asdofindia opened #157 "Need to either remove/update docker setup instructions"
CONTRIBUTING.md still mentions docker which was added by @kmehant in #142 (based on #141 )

We have to either update the instructions + setup docker-compose on the gatsby branch OR remove it altogether.

[2019-08-16 05:07] #152 closed

[2019-08-16 05:08] asdofindia commented on #152
#157 tracks the docker situation in CONTRIBUTING.md

[2019-08-16 05:08] asdofindia commented on #151
@arps18, perhaps you can work on #157 ? Closing this one.

[2019-08-16 05:08] #151 closed

[2019-08-16 05:19] kmehant commented on #157
@asdofindia I can assist you in updating the docker configurations for Gatsby site. What are your it thoughts?

[2019-08-16 05:56] asdofindia commented on #157
@kmehant, as [I said previously](https://github.com/MozillaIndia/mozillaindia.github.io/pull/142#issuecomment-506219799), I don't use docker neither find value in it. But, if you are maintaining it, no issue in keeping it.

[2019-08-16 06:11] kmehant commented on #157
@asdofindia, I agree with you, I wasn't sure about the deployment flow of this static site. Docker would be a great use to create isolated deployments on either development or production servers. However, as this is a simple project, it would be fine to remove docker layers to this project.

[2019-08-16 06:23] asdofindia commented on #157
Okay. I second removing all docker related stuff from the code.

Things to do, I think:
- [ ] remove .dockerignore
- [ ] remove reference to docker in the CONTRIBUTING.md file

[2019-08-19 04:47] #157 closed

[2019-08-31 04:53] #147 closed

[2019-08-31 04:55] obitodarky commented on #148
@asdofindia can we close this?

[2019-08-31 05:59] asdofindia commented on #148
Ah, it was supposed to be automatically closed when I merged the other commit. Anyhow.

[2019-08-31 05:59] #148 closed

[2019-09-28 15:24] harshil1712 opened #160 "Improve data structure in campusclubs.json file"
## Enhancement

**Actual Behaviour**

The campusclubs.json file doesn't follow a proper structure. Different objects contain different fields.

**Expected Behaviour**

Create a proper data structure for camousclubs.json file.

**Screenshots of the issue**

**Would you like to work on the issue?**

This is issue open for anyone who is interested in contributing!

[2019-09-28 15:29] harshil1712 opened #161 "Change GitHub to github in data files"
## Enhancement

**Actual Behaviour**

The data files have key name "GitHub".

**Expected Behaviour**

The key name should be changed to github (following best practices)

**Screenshots of the issue**

**Would you like to work on the issue?**

This is issue open for anyone who is interested in contributing!

[2019-09-28 15:39] harshil1712 commented on #147
Hey @obitodarky, unfortunately this issue didn't get solved. May you please open it and add Hacktoberfest label?
Thanks.

[2019-09-28 15:47] harshil1712 opened #162 "Use icons instead of texts"
## Enhancement

**Actual Behaviour**

Currently the links to social media platforms are text, which doesn't look good. Makes the site look mundane.

**Expected Behaviour**

Use of icons instead of text.

**Would you like to work on the issue?**

This issue is open for anyone who is interested in contributing!

[2019-09-28 15:51] harshil1712 opened #163 "Add group logos"
## Feature

**Actual Behaviour**

Currently the website doesn't contain logos of the groups.

**Expected Behaviour**

Logos are identity of the groups. We should have logos of the groups added. The logo can be added on the left side beside the text.

**Would you like to work on the issue?**

Open for anyone who is looking to contribute! :smile:

[2019-09-28 16:42] asdofindia commented on #147
What do you say we drop Bulma altogether and switch to pure css? I think grid and flexbox can solve most issues.

[2019-09-28 16:58] Lawrence4code commented on #162
I'd like to work on this task, please confirm.

[2019-09-28 17:04] Amorpheuz opened #165 "Invalid value used in size prop for react-icons"
## Bug

**Actual Behaviour**

The size prop has been used incorrectly here. fa-2x should be passed as a class to scale font-awesome icons. The size prop substitutes the height and width attributes of the svg, as shown here:
[code]
The react-icons uses svg and not font-awesome, so I doubt passing fa-2x as a class might work either, would have to check that out.

**Expected Behaviour**

Correct valu

[2019-09-28 17:04] Lawrence4code commented on #111
Can I work on this please.

[2019-09-28 17:06] Lawrence4code commented on #165
I'd like to work on it please.

[2019-09-28 17:19] Amorpheuz opened #166 "Missing / Invalid path to bg-sand.png"
## Bug

**Actual Behaviour**

Missing / Invalid path to `bg-sand.png`.
https://github.com/MozillaIndia/mozillaindia.github.io/blob/329345ccf86b3c14cdc4d62fc0bdb7853b8bcb99/src/components/layout.css#L3
Was the file lost during transition? Or incorrectly named instead of the gradient file.

**Expected Behaviour**

Locate the actual file if present in earlier version or remove it.

**Screenshots of t

[2019-09-28 19:49] wpalacios commented on #161
@harshil1712 I would like to work on this issue

[2019-09-28 20:01] obitodarky commented on #161
@wpalacios please feel free to work on this issue. But also look out for any [Open Pull Requests](https://github.com/MozillaIndia/mozillaindia.github.io/pulls?q=is%3Aopen+is%3Apr) that may be solving this issue so that you don't waste your time.

[2019-09-28 20:05] obitodarky commented on #147
@harshil1712 can you show me how it works on your device? I checked on my device with different resolutions, it seems to be working just fine.

[2019-09-28 21:39] wpalacios commented on #166
@obitodarky I would like to work on this.

[2019-09-29 06:59] Amorpheuz commented on #165
Sure @Lawrence4code , go ahead!

[2019-09-29 16:37] mazsam commented on #162
@harshil1712  Could you assign this one to me ?

[2019-09-30 06:33] sohaibalam67 commented on #166
The file `bg-sand.png` is not present in this repository.
should `url("/img/bg-sand.png") repeat` be removed from the background stack or the file wasn't committed?

[2019-09-30 12:55] harshil1712 commented on #162
Hey @Lawrence4code sure. @mazsam maybe you folks can work together and help us close this issue :smile:

[2019-09-30 13:09] harshil1712 commented on #147
@asdofindia removing a whole CSS framework would sure solve one or two issues, but this will definitely create a whole lot of new issues. The major issue, I feel will be with responsiveness. The website will be broken, and writing CSS for scratch to make the website responsive, will take up a lot of time.

[2019-09-30 14:03] harshil1712 commented on #147
Hey @obitodarky, it looks the similar like the screenshots you have shared. The boxes are not of the same height.

[2019-10-01 07:44] In4No commented on #163
Picking this up

[2019-10-01 10:49] asdofindia opened #173 "Clean indentation, set up style guide"
## Enhancement

There is an editorconfig file but I don't think all the source files in the repository have consistent indentation, etc. It will be good to have that consistency for the sake of making contributions easy and clean. (See: #172)

[2019-10-01 12:18] In4No commented on #173
I can pick this up. Just one question. Should I raise one pull request per file? As it will be easier to review.

[2019-10-01 14:17] asdofindia commented on #173
You can change all the files simultaneously in one commit as long as all that is being done is formatting.

But we can also first discuss what needs to be the canonical style everyone sticks to. I think 2 space indent is okay for all files. That's just me. I don't mind 4 spaces either.

[2019-10-01 20:20] nik72619c commented on #162
there are icons followed by texts, do you want only the icons in this case shown in a horizontal manner ?

[2019-10-02 07:07] In4No commented on #173
Two space indent and max line length of 100 chars? It makes the code readable even when not using zen mode.

[2019-10-02 08:16] Amorpheuz commented on #173
I think getting `eslint` setup for this would be a good idea! We could have set up `.eslint.rc.*` file for the same and require contributors to run it for PRs. We can also set up prettier / eslint pre-push hooks that would ensure standardized pushes irrespective of contributor styling. What do you think about this @harshil1712 ?  I did notice the `.prettierrc` in code but would recommend integrati

[2019-10-02 09:29] In4No commented on #173
eslint makes sense

[2019-10-02 10:07] harshil1712 commented on #173
I agree with @Amorpheuz. @In4No can you set up eslint instead? This will reduce the manual labor, and will help to maintain the structure in the future as well.

[2019-10-03 06:03] In4No commented on #173
Ya. Will do that.

[2019-10-03 06:54] In4No commented on #173
Raised a PR. I had to disable a bunch of rules, and had to fix the files, else, eslint was throwing error.

[2019-10-03 07:10] In4No commented on #163
Will reopen the PR once https://github.com/MozillaIndia/mozillaindia.github.io/pull/176 is approved

[2019-10-03 08:50] #165 closed

[2019-10-03 20:21] nik72619c commented on #162
@harshil1712 please guide me on this !

[2019-10-06 20:14] cseas opened #178 "Meetup links for regional groups don't show up"
## Bug/Feature/Enhancement
Bug

**Actual Behaviour**
Meetup links for the regional groups are not displayed despite being filled in the data json.

**Expected Behaviour**
Meetup links should be displayed.

**Would you like to work on the issue?**
Fixed by #177

[2019-10-07 02:47] #178 closed

[2019-10-07 19:38] cseas opened #179 "Deployment interval of merged PRs"
## Bug/Feature/Enhancement
Enhancement

**Would you like to work on the issue?**
Yeah sure, if there's a way.

---
The changes from the merged PR #177 haven't went live yet.

Is there some interval after which the maintainers deploy all the merged PRs to master branch?

Or is the process automated?

Or do the contributors need to send separate PRs to both the gatsby and master branches?

Can this

[2019-10-07 19:44] asdofindia commented on #179
The deployment is not automated at the moment. A maintainer has to manually build and publish. (This is scripted and there is chance for automating this with a CI server)

[2019-10-07 19:47] cseas commented on #179
Okay, got it. Can this information be included in the CONTRIBUTING file to avoid confusion?

[2019-10-07 19:55] cseas opened #180 "Blog: Log in button leads to Callback URL mismatch"
## Bug/Feature/Enhancement
Bug

**Actual Behaviour**
`Log in` link under `Meta` in `Explore` sidebar leads to error page:
[code]

**Expected Behaviour**
Perhaps a way to log in to the site, or a message mentioning some contact details to get in touch with the maintainers.

**Screenshots of the issue**
![Selection_051](https://user-images.githubusercontent.com/29686866/66343979-6150c800-e96a-11e9-8

[2019-10-07 21:03] asdofindia commented on #180
This was occurring because MCWS moved to Auth0 based SSO and the login.php link wasn't being redirected correctly. Have fixed this.

[2019-10-08 04:18] cseas commented on #47
Is this link and the [Speaker Request Form](https://docs.google.com/forms/d/e/1FAIpQLSe12XttbsgZMwluWLzICyEf40L6eviQwRyBFMiXNGvePIdokw/viewform) mentioned there still relevant as of 2019?

The blog post mentions the FSA program which has been retired now to be replaced with Mozilla Campus Clubs.

[2019-10-08 05:33] Amorpheuz commented on #166
Fixed with #168, thanks!

[2019-10-08 05:33] #166 closed

[2019-10-08 05:34] asdofindia commented on #47
I'm 99% sure that link, the task force, etc are defunct now. Old blog posts need not be maintained to be up to date.

Do you have any ideas on what can be done?

[2019-10-08 05:55] cseas commented on #161
Hasn't this been fixed by #170 ?
Is something still left to be done?

[2019-10-08 06:06] cseas commented on #47
The entire [Mozilla India wiki](https://wiki.mozilla.org/India) seems to be out of date and needs to be revamped.

Also, I'm not sure if the logo used there is still relevant, there's a different one the [Mozilla India website](https://mozillaindia.org/) and another set of black and white logos that were forwarded to me by @shinadhingra18 for use in community events.

For starters, as this issue o

[2019-10-08 10:49] asdofindia commented on #161
You're right. This has been fixed by #170. Thanks everyone who pitched in.

[2019-10-08 10:49] #161 closed

[2019-10-08 12:55] asdofindia commented on #47
Can we discuss the wiki in a separate issue? Perhaps you can create an issue with a plan on what to do about the wiki. Either a plan to keep it up to date OR a plan to remove stuff from there and redirect people to website.

[2019-10-08 15:25] cseas commented on #101
Can this issue be closed now? Most Regional Communities have already been added here: https://mozillaindia.org/

New issues or PRs can be sent for any new regional communities that come up.

[2019-10-08 16:07] cseas opened #181 "Update to new Issue Template"
## Bug/Feature/Enhancement
Enhancement

**Screenshots of the issue**
![Selection_052](https://user-images.githubusercontent.com/29686866/66412508-4be3a880-ea13-11e9-804f-1e16ab4e098f.png)

Link: https://github.com/MozillaIndia/mozillaindia.github.io/blob/gatsby/.github/ISSUE_TEMPLATE.md

We're using an old issue template. Should it be upgraded?

**Would you like to work on the issue?**
I don't rea

[2019-10-08 16:19] asdofindia commented on #181
That's really interesting - the new workflow. Instead of manually editing text (for example the bug/feature/enhancement text in the comment here itself) it will allow different templates for different kind of issues. The learn more link has enough information to get started. Can take inspiration for the content from the existing template which was added by @obitodarky

[2019-10-08 17:46] lucasrabiec commented on #181
I take care of this issue :)

[2019-10-08 18:03] lucasrabiec commented on #181
Hmmm, I think this solution is what you need guys: https://help.github.com/en/articles/creating-issue-templates-for-your-repository
Am I right?

[2019-10-08 20:37] #181 closed

[2019-10-08 20:44] asdofindia commented on #180
Sorry wrongly referenced in an unrelated commit. And then wrongly reopened. Now going to rightly close this again.

[2019-10-08 20:44] #180 closed

[2019-10-12 09:03] harshil1712 commented on #162
Hey @nik72619c sorry for the late reply. We would like to have only the icons, and not the text.

[2019-10-12 09:05] nik72619c commented on #162
Okay , will file a PR on this !

[2019-10-12 09:18] nik72619c commented on #162
Do you wish to see  the icons list horizontally or vertically ?

[2019-10-12 09:22] harshil1712 commented on #162
Hey, @nik72619c what do you think, what will look good? I guess horizontal list would look good. But we are open to new ideas!

[2019-10-12 09:27] nik72619c commented on #162
I also think that horizontal lists would look good

[2019-10-12 10:15] nik72619c commented on #162
ref #183 :)

[2019-10-19 14:24] akarshshekhar7 commented on #163
i will work on this

[2019-10-19 14:31] yushiiii commented on #160
Would like to work on this issue

[2019-10-19 14:50] AnkitaAditya20 commented on #162
i am working on this issue

[2019-10-19 14:50] akarshshekhar7 commented on #179
i will work on the issue

[2019-10-19 15:28] riyabasak52 commented on #179
The contributors send PRs to the Gatsby repo on GitHub only and get merged on weekly basis. There are automated checks and other checks include testing locally. Either core members merge PR or the Gatsbot.

[2019-10-19 16:57] yushiiii opened #197 "Keep track of visited links"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i cant find the links i already visited.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Links to change color for link already visited on the web page.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2019-10-19 18:34] abhishek-pes commented on #162
iam working on this issue

[2019-10-20 01:43] asdofindia commented on #179
@riyabasak52 while that maybe true about "Gatsby repo", on this repo it is a manual push to github pages.

[2019-10-31 02:48] #162 closed

[2019-11-01 07:44] #173 closed

[2019-11-01 07:44] #160 closed

[2020-07-01 04:42] spandanpal22 opened #210 "In the campus club section the cards and the paragraph have very less spacing and it looks cluttered."
**Is your feature request related to a problem? Please describe.**
No. It is related to an improvement.

**Describe the solution you'd like**
I would like to increase the spacing in the campus club section so that the design looks good.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**PR**
- I am going to ma